---
title: Soraida Henne
---
<div class="landing-bg">
  <div class="intro-box">
    <h1>Hi! I'm Soraida. <br>
      I'm a Designer and <br>
      Web Developer</h1>
  </div>
</div>
<div class="purple-bar">
  <h2>Here's Some Stuff I Made</h2>
</div>
<div class="gifs">
  <div>
    <%= image_tag("generativeFace.gif") %>
    <%= image_tag("generativeCircle.gif") %>
  </div>
  <div>
    <h3>Generative Animations</h3>
    <p>
      A selection of sketches created as a bridge between programming and art. These animations were all randomly generated with Processing.<br>
      Processing, P5.js
    </p>
  </div>
</div>
<div class="app-section">
  <div class="logo-paragraph">
    <%= image_tag("CleverClosetRed.png") %>
    <p>Clever Closet is an environmentally conscious, closet organization web app developed by myself and a team of three other developers over the course of two weeks.
      <br>
      Ruby on Rails, HTML, CSS, JavaScript</p>
  </div>
  <div class="clever-closet-screen">
    <%= image_tag("screenshot01.png") %>
    <%= image_tag("screenshot02.png") %>
  </div>
</div>
<div class="contact-section">
  <a href="https://www.linkedin.com/in/soraidahenne/" target="blank">
    <i class="fab fa-linkedin"></i>
  </a>
  <a href="https://github.com/sodapoph" target="blank">
    <i class="fab fa-github"></i>
  </a>
</div>